<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt "Welcome to my Website"}}</p>
    <h1>This is the home page of {{name}}</h1>
    {{> footer}}
  </body>
</html>
